body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  overflow-y: hidden;
}
a {
    text-decoration: none;
    color: white;
}

.main {
  display: flex;
  height: 100%;
}

/* Cột trái */
.cottrai {
  width: 20%;
  background-color: #000000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.control {
  background-color: #2a2a2a;     
  color: white;                
  font-weight: bold;             
  font-size: 14px;
  border-radius: 100px;   
  padding: 10px 24px;        
  text-decoration: none;
  margin:3px;     
   
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.danhmucbaihat{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: red;
    margin-bottom: 10px;
}

.listsong {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

}
/* Cột giữa */
.cotgiua {
  width: 55%;
  padding: 20px;
  margin: 20px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;   
  border: none;       
  padding: 0;         
  margin: 0;          
  font: inherit;      
  color: inherit;     
  cursor: pointer; 
}

.search input {
 width: 70%;
 border-radius: 100px;
 padding: 10px 20px; 
 background-color: #2a2a2a;
}
.selector {
  display: flex;
  align-items: center;
  margin: 50px 0px 0px 20px;

}


.hop {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  margin: 5px;
}
.hop img{
  height: inherit;
}
.favourite{
  display: flex;
  overflow-x:auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  margin-top: 20px;
  gap: 20px;
}

.item-favourite img{
  border-radius: 15px;
  height: 300px;
  width: 300px;
}
/* cột phải */
.cotphai {
  width: 25%;
  background-color: #181818;
  padding: 20px;
  gap: 20px;

}

.cotphai img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
/* thanh phát nhạc */
.playmusic
{
  position: fixed;
  bottom: 0;
  left: 0;  
  height: 100px;
  width: 100%;
  background: pink;

}
.item-playmusic
{
 display: flex;
 margin: 0px 20px;
 justify-content: space-between;
 align-items: center;
}
.playmusic img{
  height: 50px;
  width: 50px;
}

