body {
    background-color: grey;
    margin: 0;
    color: white;

  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
    background-color:black;
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
ul{
    list-style: none;
    display: flex;          /* cho các li nằm ngang */
     justify-content: center;/* căn giữa ngang */
     align-items: center; 
     gap: 10px;   /* căn giữa dọc (nếu có chiều cao) */
  
}

li img{
    height: 25%;
    width: 100px; 
}
li select {
    all:unset;
}
a{
    text-decoration: none;
    color:white;
}
.header a:hover {
    color: #ff6500;
    text-decoration: none;
}
button{
    background-color: #e93013;
    color: white;
    padding: 10px 15px;
    border-radius:10px;
    border: none;
    cursor: pointer;    
    
}

.main {
    display: block;
    width: 70%;
    background-color: black;
    height: 100vh;
    margin: auto;
    gap: 20px;
}
.main img{
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center; 
 }
.phim{
    width: 100%;
    position: relative;
    height: 600px;
    

}
.content-phim{
    width: 100%;
    justify-content: center;
    align-items: center;

 

}
.pic_qc_film{
    position: absolute;
}
.title_qc_film{
    position: absolute;
    margin-top: 300px;
}
.in4_qc_film{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    align-items: baseline;
    height: 10px;
}
.in4_qc_film p{
    border-radius: 10px;
    background-color: #cccccc33;
    padding: 5px 10px;
    margin-right: 8px;
}
.in4_qc_film b {
    border-radius: 10px;
    background-color: #e93013;
    padding: 5px 10px;
}
.title_menu_films{
}
.menu_films{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    gap: 15px;


 
}
.tags_films {
    height:  199px;
    width: 354px;
}
.tags_films p{
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
}
.tags_films img{
    border-radius: 10px;
    height:  354px;
    width: 354px;
margin: 0px;
    
}
.classify{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    gap: 20px;

}
.item_classify {
    display: flex;
    width: 200px;
    height: 150px;
    background-color: blue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    

}
footer{
      background-color: #000;
    color: #fff;
    padding: 30px 50px;
     font-size: 14px;
    display: hidden;
    position: hidden; 
    bottom: 0;         /* dính sát mép dưới */
    left: 0;
    width: 100%;       /* trải ngang màn hình */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
      /* nổi lên trên */
}
.info_cop{

}


.footeron {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  height: auto;
}

.footeron .cot {
  
  min-width: 200px;
  margin: 10px;
}

.footeron ul {
  list-style: none;
  padding: 0;
}

.footeron ul li {
  margin: 5px 0;
}

.footercenter {
  border-bottom: 1px solid #333;
display: block;
  font-size: 12px;
  color: #aaa;
}

.footerend {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

